html{
    font-family: sans-serif;

}

body{
 background-color: #210f3f; 
 text-transform: uppercase;
 font-family: 'Roboto', sans-serif;


     
}

.header{
    text-align: center;
    margin: auto;
    min-height: 100vh; /* Definir uma altura mínima para o osition: relative; /* Adicionar posição relativa ao header */
    background-color: #0b001e
}
/* Estilos para a barra de navegação (navbar) */
.navbar {
    align-items: center; /* Centraliza verticalmente */
    background-color: #070407;
    
  }
  
  /* Estilos para a logo-container */
  .logo-container {
    text-align: center; /* Centraliza a logo horizontalmente */
  }
  
  /* Estilos para a logo-header */
  .logo-header {
    width: 4em;
    height: auto;
  }
  
  /* Estilos para o menu-container (seu ícone do menu) */
  
  
.logo-header{
    text-align: center;
   width: 4em;
   height: auto;
  
}

.header-nav{
background-color:#6d2d6b ;
display:none;

}

.header-nav.show{
    display: block;
}


ul{
    margin: 0%;
    
}

.header-nav ul{
    list-style-type: none;
    padding: 0%;
    text-transform: uppercase;
    letter-spacing: .2em;
    font-size: .7em;
    display: flex; /* Tornar a lista um contêiner flexível */
    flex-direction: column; /* Alinhar os itens verticalmente */
    gap: 2em; /* Adicionar espaço vertical entre os itens (ajuste conforme necessário) */
    justify-content: space-between; /* Adicionar espaço entre os itens verticalmente */
    height: 100%; /* Defina a altura da lista para que ela ocupe toda a altura disponível */
    position: relative; /* Adicionar posição relativa ao elemento pai */
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    
    
   
}

    
 

.header-nav li {
    display: block; /* Certifique-se de que cada item do menu seja exibido como um bloco */
    flex-grow: 2; /* Faça com que os itens cresçam igualmente para ocupar o espaço disponível */
    line-height: 3em;
    position: relative; /* Adicionar posição relativa ao elemento filho */
}
   



/* Criar espaço antes do primeiro item */
.header-nav li:first-child::before {
    content: "";
    height: 1em; /* Defina a altura desejada para o espaço antes do primeiro item */
    display: block;
}

/* Criar espaço depois do último item */
.header-nav li:last-child::after {
    content: "";
    height: 1em; /* Defina a altura desejada para o espaço depois do último item */
    display: block;
}


.header-nav a{
    color: white;
    text-decoration: none;
    font-size: 2em;
    
    
    
    
}


.header-nav li:hover{
    background-color: rgb(153, 17, 177);
        
}

.header-nav li:hover a {
    color: black;
}



#hab{
    background-color:#6d2d6b;
    color:rgb(0, 0, 0);
    display: block;
    text-align: center;
    gap: 0.3em;
    cursor: pointer;
    font-size: 3em;  
}


.pai1{
    color: white;
    text-align: center;
}

.pai2{
    color: white;
    text-align: center;
}

#Sobremim{
    text-align: center;
     padding-top: .5em;
     background-color: #492877;
}

#JornadaElasnatech{
    text-align: center;
    background-color: #6d2d6b;
    margin-top: 0%;
    padding-top: 3em;
}

.tamanho{
    width: 10em;
    padding-top: 0;


   
  
    
}

#Desafios{
    text-align: center;
    background-color: #492877;
    margin-bottom: 0%;
    padding-bottom: 0%;
}

#Conquistas{
    text-align: center;
    background-color: #6d2d6b;
}

#Aprendizados{
    text-align: center;
    background-color:#492877 ;
}


#Projetos{
    text-align: center;
    background-color: #6d2d6b;

}

#Depoimentos{
text-align: center;
background-color: #492877;
}

#Contatos{
    background-color:#6d2d6b ;
    P;
   
}

.logo{
    display: flex;
    flex-direction: column;
    margin-bottom: 2em;
    align-items: center;}


.caixa7 h2{
    text-align: center;
   
}

.caixa9{
    text-align: center;
}

.caixa10{
    text-align: center;
}

footer{
    text-align: center;
    background-color:#492877 ;
    padding: .2em;
    color: azure;
}

P{
    color: aliceblue;
}

h2{
    color: white;
    font-family: 'Poiret One', cursive;
}
Ul{
    color: azure;
}


section {
    margin: 0;
}

#Projetos {
    display: flex;
    flex-direction: column;
    align-items: center; /* Centralize os vídeos verticalmente */
    gap: 1em; /* Espaço entre os vídeos */
}

.video-container {
    width: 30em; /* Largura desejada para os quadrados */
    height: 20em; /* Altura desejada para os quadrados */
    margin: 3em;
    position: relative;
    overflow: hidden;
    text-align: center;
}

.tamanho-video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border: none;
    margin-bottom: 1em; /* Espaço entre os vídeos */
}

/* Limpe o espaço abaixo do último vídeo */
.tamanho-video:last-child {
    margin-bottom: 0;}

    #Sobremim,
    #JornadaElasnatech,
    #Desafios,
    #Conquistas,
    #Aprendizados,
    #Projetos,
    #Depoimentos,
    #Contatos {
        margin-bottom: 0; /* Defina a margem inferior como zero */
        padding: 5em;
    }


    .botao ul {
        list-style: none;
        padding: 0;
        text-align: center; /* Centralizar o texto do botão horizontalmente */
    }
    
    .botao li {
        margin: 0.625em 0; /* Adicionar margem entre os itens da lista */
    }
    
    .botao a {
        display: inline-block;
        background-color: #6d2d6b; /* Cor de fundo do botão */
        color: white; /* Cor do texto do botão */
        text-decoration: none;
        padding: 0.625em 1.25em; /* Espaçamento interno do botão (ajuste conforme necessário) */
        border-radius: 5px; /* Borda arredondada do botão */
    }
    
    .botao a:hover {
        background-color: #5b00da; /* Cor de fundo ao passar o mouse sobre o botão */
    }

    .botao-2 ul {
        list-style: none;
        padding: 0;
        text-align: center; /* Centralizar o texto do botão horizontalmente */
    }
    
    .botao-2 li {
        margin: 10px 0; /* Adicionar margem entre os itens da lista */
    }
    
    .botao-2 a {
        display: inline-block;
        background-color: #6d2d6b; /* Cor de fundo do botão */
        color: white; /* Cor do texto do botão */
        text-decoration: none;
        padding: 0.625em 1.25em; /* Espaçamento interno do botão (ajuste conforme necessário) */
        border-radius: 5px; /* Borda arredondada do botão */
    }
    
    .botao-2 a:hover {
        background-color: #5b00da; /* Cor de fundo ao passar o mouse sobre o botão */
    }

    .caixa2 {
        width: 5em;
        transition: transform 0.3s ease; /* Adicionar transição suave */
        margin-left: 7em;
      }
      
      /* Efeito de aumento quando o mouse passa sobre as imagens com a classe 'img' */
      .caixa2:hover {
        transform: scale(1.1); /* Aumenta o fator de escala para o efeito de aumento */
        align-items: center;
      }
      
    
    .caixa2 {
        text-align: center;
      }
      
      .caixa2 .tamanho {
        width: 10em;
        margin: 0 auto; /* Centralizar a imagem horizontalmente */
        display: block;
      }
      
      .caixa2 h2 {
        text-align: center;
      }
      
      .caixa2 p {
        text-align: center;
      }
      



      .caixa3 {
        width: 5em;
        transition: transform 0.3s ease; /* Adicionar transição suave */
        margin-left: 7em;
      }
      
      /* Efeito de aumento quando o mouse passa sobre as imagens com a classe 'img' */
      .caixa3:hover {
        transform: scale(1.1); /* Aumenta o fator de escala para o efeito de aumento */
        align-items: center;
      }
      
    
    .caixa3 {
        text-align: center;
      }
      
      .caixa3 .tamanho {
        width: 10em;
        margin: 0 auto; /* Centralizar a imagem horizontalmente */
        display: block;
      }
      
      .caixa3 h2 {
        text-align: center;
      }
      
      .caixa3 p {
        text-align: center;
      }
      



      
      .caixa3 {
        width: 5em;
        transition: transform 0.3s ease; /* Adicionar transição suave */
        margin-left: 7em;
      }
      
      /* Efeito de aumento quando o mouse passa sobre as imagens com a classe 'img' */
      .caixa3:hover {
        transform: scale(1.1); /* Aumenta o fator de escala para o efeito de aumento */
        align-items: center;
      }
      
    
    .caixa4 {
        text-align: center;
      }
      
      .caixa4 .tamanho {
        width: 10em;
        margin: 0 auto; /* Centralizar a imagem horizontalmente */
        display: block;
      }
      
      .caixa4 h2 {
        text-align: center;
      }
      
      .caixa4 p {
        text-align: center;
      }
      

       
      .caixa3 {
        width: 5em;
        transition: transform 0.3s ease; /* Adicionar transição suave */
        margin-left: 7em;
      }
      
      /* Efeito de aumento quando o mouse passa sobre as imagens com a classe 'img' */
      .caixa3:hover {
        transform: scale(1.1); /* Aumenta o fator de escala para o efeito de aumento */
        align-items: center;
      }
      


    
      .caixa4 {
        text-align: center;
      }
      
      .caixa4 .tamanho {
        width: 10em;
        margin: 0 auto; /* Centralizar a imagem horizontalmente */
        display: block;
      }
      
      .caixa4 h2 {
        text-align: center;
      }
      
      .caixa4 p {
        text-align: center;
      }
      
      .caixa4 {
        width: 5em;
        transition: transform 0.3s ease; /* Adicionar transição suave */
        margin-left: 7em;
      }
      
      /* Efeito de aumento quando o mouse passa sobre as imagens com a classe 'img' */
      .caixa4:hover {
        transform: scale(1.1); /* Aumenta o fator de escala para o efeito de aumento */
        align-items: center;}


    
    .caixa5 {
        text-align: center;
      }
      
      .caixa5 .tamanho {
        width: 10em;
        margin: 0 auto; /* Centralizar a imagem horizontalmente */
        display: block;
      }
      
      .caixa5 h2 {
        text-align: center;
      }
      
      .caixa5 p {
        text-align: center;
      }
      
      .caixa5 {
        width: 5em;
        transition: transform 0.3s ease; /* Adicionar transição suave */
        margin-left: 7em;
      }
      
      /* Efeito de aumento quando o mouse passa sobre as imagens com a classe 'img' */
      .caixa5:hover {
        transform: scale(1.1); /* Aumenta o fator de escala para o efeito de aumento */
        align-items: center;
      }



      


    @media screen and (min-width:48em){
          #hab{
            display:none;
        }
    
    
    }

        

    

